{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist.name }}
		</h1>
		<p class="subtitle">
			ID: {{ artist.id }}
		</p>
		<div class="genres">
			{% for genre in artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}"
				target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}"
				target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Venue Image" />
	</div>
</div>

<!-- added for Challenge 3 -->
<section>
	<h2 class="monospace">
		{% if artist.songs_count %}
		{{artist.songs_count}}
		{% endif %}
		{% if artist.songs_count == 1 %}Song{% else %}Songs{% endif %}
	</h2>
	{% if artist.songs%}
	<div class="row">
		{%for song in artist.songs %}
		<div class="col-sm-4">
			<div class="tile tile-show " style=" margin: 10px;">
				<div class="">
					<a class="btn btn-danger btn-lg " href="{{ url_for('delete_song', song_id=song.song_id) }}">
						Delete Song
					</a>
				</div>
				<div class="text-left text-capitalize" style="padding: 10px;">
					<h4>
						<strong>
							Song name :
						</strong>
						{{ song.song_name }}
					</h4>
					<h4>
						<strong>
							Duration :
						</strong>
						{{ song.duration }} minutes
					</h4>

					{% if song.album_name %}
					<h4>
						<strong>
							Album :
						</strong>
						{{ song.album_name }}
					</h4>
					{% endif %}
					<h4>
						<strong>
							Released date :
						</strong>
						{{ song.release_date|datetime('d/M/Y') }}
					</h4>
				</div>
				{% if song.link %} <a class=" btn btn-success btn-lg btn-block " href=" {{song.link}}" target="_blank">
					Link to song
				</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</section>

<section>
	<h2 class="monospace">
		{{ artist.upcoming_shows_count }} Upcoming
		{% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}
	</h2>
	<div class="row">
		{%for show in artist.upcoming_shows %}
		<div class="col-sm-4">

			<!-- old style -->
			<!-- <div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div> -->

			<!-- new style -->
			<div class="tile tile-show">
				<div class="img-container">
					<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				</div>
				<div class="text-left">
					<h4>
						Venue :
						<a href="/venues/{{ show.venue_id }}">
							<strong>
								{{ show.venue_name }}
							</strong>
						</a>
					</h4>
					<div class="h4">
						Date :
						<span class="h5">
							<strong>
								{{ show.start_time|datetime('full') }}
							</strong>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<section>
	<h2 class="monospace">
		{{ artist.past_shows_count }} Past
		{% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
		<div class="col-sm-4">

			<!-- old style -->
			<!-- <div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div> -->


			<!-- new style -->
			<div class="tile tile-show">
				<div class="img-container">
					<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				</div>
				<div class="text-left">
					<h4>
						Venue :
						<a href="/venues/{{ show.venue_id }}">
							<strong>
								{{ show.venue_name }}
							</strong>
						</a>
					</h4>
					<div class="h4">
						Date :
						<span class="h5">
							<strong>
								{{ show.start_time|datetime('full') }}
							</strong>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<a href="/artists/{{ artist.id }}/edit"><button class="btn btn-primary btn-lg">Edit</button></a>
<a href="/artists/{{ artist.id }}/delete"><button class="btn btn-danger btn-lg">Delete</button></a>
<a href="/artist/{{ artist.id }}/song/create"><button class="btn btn-success btn-lg">Add Song</button></a>

{% endblock %}